body {
    font-family: sans-serif;


}

.alert-info {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    padding: 20px;
    background-color: lightblue;
}

h1 {
    text-align: center;
}
nav ul {
    text-align: center;
    list-style-type: none;
    padding: 10px;
}

.header-img img{
    max-width: 100%;
}

nav ul li {
    border: 1px solid black;
    background-color: rgb(204, 204, 204);
    padding: 5px;
    margin: 5px;
}

.main {
    display: inline;
}
@media screen and (min-width: 354px) {

    .hidden-on-desktop {
        display: none;
    }

    h1 {
        display: inline-block;
    }

    nav {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
    }

    ul {
        display: flex;
        justify-content: flex-end;
    }

    nav ul li {
        border: none;
        background-color: unset;

    }

    .main {
        display: inline-block;
        max-width: 70%;
        vertical-align: top;
    }

    .sub-section {
        display: inline-block;
        max-width: 29%;
        vertical-align: top;

    }
}
